backend/gateway/node_modules
backend/gateway/.env
backend/services/auth/node_modules
backend/services/auth/.env
backend/services/auth/serviceAccountKey.json
backend/node_modules
backend/services/chat/node_modules
backend/services/chat/.env
backend/services/agent/node_modules
backend/services/agent/.env